.attractionContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 20px 0px;
  border: 1px solid black;
}

.attraction {
  margin-left: 20px;
}

.detailButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.attractionDetails {
  margin-right: 20px;

}

.attraction-details__name {
  margin-bottom: 10px;
}

.attraction-details__location, .attraction-details__description {
  margin-bottom: 20px;
}

.dialog-container {
  width: 70%;
}

.attraction-details__closeButtonContainer {
  text-align: right;
}
