.attractionContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 20px 0px;
  border: 1px solid black;
}

.attraction {
  margin-left: 20px;
}

.detailButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.attractionDetails {
  margin-right: 20px;

}

.attraction-details__name {
  text-align: center;
}

.attraction-details__location {
  text-align: center;
}


.dialog-container {
  width: 70%;
}

.attraction-details__ameneties, .attraction-details__amenitiesSouvenirs, .attraction-details__amenitiesRestrooms {
  text-align: center;
}

.attraction-details__closeButtonContainer {
  text-align: center;
  margin-top: 20px;
}
