button {
  border-radius: 4px;
  background: #edebdf;
  box-shadow: 0 1px #999;
  transform: scale(0.98);
  outline: none;
}

button:hover {
  filter: brightness(85%);
}

button:disabled {
  filter: brightness(100%);
}

button:active {
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}
