aside {
  background-color:  var(--secondary-bg-color);
  height: 95vh;
  border-left: 3px solid rgb(109, 94, 30);
  padding: 1em;
  margin-left: 2em;
}

aside h4 {
  text-align: center;
}

.content{
  display: flex;
} 

.itinerary{
  margin-top: 10px;
  margin-bottom: 20px;
}