aside {
  background-color:  var(--secondary-bg-color);
  min-height: 95vh;
  padding: 1em;
  width: 20%;
}

aside h4 {
  text-align: center;
}

.content{
  display: flex;
} 

.itinerary{
  margin-top: 10px;
  margin-bottom: 20px;
}