@import url('https://fonts.googleapis.com/css2?family=Asap&family=Pacifico&display=swap');
@import './attraction.css';
@import './park.css';
@import './eatery.css';
@import './itineraries.css';
@import './footer.css';

/* variables */
 
:root {
  --primary-bg-color: #fff;
  --secondary-bg-color: #c7bd80;
  --primary-font-color: #000;
  --heading-font-color: #000;
  --dark-gray: #333;
  --medium-gray: #888;
  --light-gray: #aaa;
  --primary-font: 'Asap', sans-serif;
  --heading-font: 'Pacifico', cursive;
}

/* generic style reset */
* {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: var(--primary-font);
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.isHidden {
  display: none;
}

.lightbg {
  background-color: #999999;
  border-radius: 10px;
}

/* typography */
h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
  color: var(--heading-font-color);
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

.bold {
  font-weight: bold;
}

/* colors */
body {
  background-color: var(--secondary-bg-color);
  color: var(--primary-font-color);
}

/* structure & styling */
.container {
  width: 100%;
}

.header {
  width: 100%;
  height: 170px;
  background-color: var(--secondary-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  max-height: 170px;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2em;
}

.search-bar input {
  min-width: 15em;
}

.content {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--secondary-bg-color);
}

.content__main {
  border-radius: 0 2em 0 0;
  border-right: 3px solid rgb(109, 94, 30);
  background-color: var(--primary-bg-color);
  width: 80%;
  padding: 0 1em;
}

.dropdowns {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  flex-wrap: wrap;
}

.dropdowns > div {
  margin: 0 1.5em;
}

.dropdown-heading {
  font-family: var(--heading-font);
  font-size: 40px;
  text-align: center;
  margin-bottom: 0.25em;
}

.previews {
  display: flex;
  flex-direction: column;
}

.button-container {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
