.preview-card--park {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  border: 1px solid black;
}

.preview-card--park__info {
  margin-left: 20px;
  display: flex;
}

.parkDetails {
  margin-right: 20px;
}

.park-weather {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.weather-card {
  border-radius: 5px;
  padding: 2px 3px 0;
  margin: 0.5em;
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  background-color: #999;
}

.weather-card img {
  max-width: 70px;
}

.park-dialog {
  width: 70%;
  position: fixed;
  top: 5%;
  max-height: 90vh;
  overflow-y: auto;
}

.park-details h2 {
  text-align: left;
  width: 85%;  
  margin: 0 auto;
}

.park-details__location {
  text-align: left;
}

.park-details__location,
.park-details__description {
  width: 85%;
  margin: 0 auto;
}

.park-details__subcontainer {
  margin-top: 1em;
  display: flex;
  justify-content: space-evenly;  
}

.park-details__activitiesList {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* max-height: 30em; */
}

.park-details__contact {
  margin-bottom: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.park-details__address {
  text-align: left;
}

.park-details__closeButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.park-details__image img {
  max-width: 500px;
  border-radius: 1em;
}