.preview-card--park {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border: 1px solid black;
}

.preview-card--park__info {
  margin-left: 20px;
}

.parkDetails {
  margin-right: 20px;
}

.park-weather {
  display: flex;
}

.weather-card {
  border-radius: 5px;
  padding: 0.25em 0.33em 0;
  margin: 0 0.5em 0.5em 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  background-color: #999;
}